body {
	font-family: Verdana, Helvetica, sans-serif;
	background-color: #FFFFFF;
}

.button {
  font-family: Arial;
  color: #FFFFFF;
  font-size: 27px;
  padding: 10px;
  text-decoration: none;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  text-shadow: 2px 1px 3px #1a181a;
  border: solid #FFFFFF 2px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#2992e3), to(#003366));
  background: -moz-linear-gradient(top, #2992e3, #003366);
}
.button:hover {
  background: FFFFFF;
}

button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#357EC7 0%,
		#357EC7);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#357EC7),
		to(#357EC7));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 3px solid #357EC7;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(255,255,255,0.3);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(255,255,255,0.3);
	text-shadow:
		3px -1px 0px rgba(0,0,0,0.2),
		0px 0px 0px rgba(255,255,255,1);
}


div.tabArea {
  font-size: 80%;
  font-weight: bold;
}

a.tab {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#2992e3), to(#003366));
  background: -moz-linear-gradient(top, #2992e3, #003366);  
  border: 1px solid #000000;
  border-bottom-width: 0px;
  padding: 20px 5em 20px 5em;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  
}

a.tab, a.tab:visited {
  color: #808080;
}

a.tab:hover {
  background-color: #FFFFFF;
  color: #606060;
}

a.tab.activeTab, a.tab.activeTab:hover, a.tab.activeTab:visited {
  background-color: #c0c0c0;
  color: #000000;
}

div.tabMain {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#2992e3), to(#003366));
  background: -moz-linear-gradient(top, #2992e3, #003366);  
  border: 1px solid #000000;
  padding: 1em;
}

div.tabIframeWrapper {
  width: 100%;
}

iframe.tabContent {
  background-color: #FFFFFF;
  border: 1px solid #000000;
  width: 100%;
  height: 100%  
}

.Three-Dee{
font-family: Garamond, serif;
line-height: 1em;
color: #ffffff;
font-weight:bold;
font-size: 38px;
text-shadow:0px 0px 0 rgb(255,255,255), 1px 1px 0 rgb(255,255,255),2px 2px 1px rgba(0,0,0,0),2px 2px 1px rgba(0,0,0,0.5),0px 0px 1px rgba(0,0,0,.2);}

.novo-evento
{
font-weight:bold;text-decoration:underline;color:#000000;background-color:#FFFFFF;letter-spacing:1pt;word-spacing:2pt;font-size:16px;text-align:left;font-family:arial, helvetica, sans-serif;line-height:1;
}

.Seccoes {
	background-color:transparent;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	padding:17px 12px;
	text-decoration:none;
	text-shadow:1px 0px 24px #ffffff;
}.Seccoes:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
</style>