{% extends "templates/_base.html" %}
{% block bodycontent %}
<div class="row-fluid">
    <div class="span12">
        <a class="btn btn-primary" href="/news/new">Nova notícia</a>
    </div>
</div>
<br>
{% block News %}
<div class="row-fluid">
    <div class="span12">
        {% if news %}
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Breve descrição</th>
                    <th>Criado em</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for n in news %}
                <tr>
                    <td><a href="{{ n.direct_link }}">{{n.title}}</a></td>
                    <td>{{ n.short_description }}</td>
                    <td>{{ n.date }}</td>
                    <td>
                        <a href="{{ n.edit_link }}" class="btn"><i class="icon-pencil"></i></a>
                        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"><i class="icon-trash icon-white"></i></a>
                        <div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel">Eliminar notícia</h3>
                        </div>
                        <div class="modal-body">
                            <p>Deseja eliminar esta notícia?</p>
                        </div>
                        <div class="modal-footer">
                            <a class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</a>
                            <a class="btn btn-danger" href="{{ n.delete_link }}">Eliminar</a>
                        </div>
                    </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

{% endblock News %}
<script>
    (function () {
        $('#news-tab').addClass('active');
        $('#myModal').modal('hide');

    })();
</script>
{% endblock %}
