@CHARSET "UTF-8";

.customText
{
font-weight:bold;
text-decoration:none;
color:#127AB5;
background-color:#F2F7F9;
letter-spacing:1pt;
word-spacing:2pt;
font-size:12px;
text-align:left;
font-family:helvetica, sans-serif;
line-height:1;
}

.eventContent{
    background-color:#F2F7F9;
    width:550px;
    padding:10px;
    border: 6px solid #357EC7;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
}

.imageRoundCorners {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}