<!DOCTYPE html>
 <html lang="en">
  <head>
   <meta charset="utf-8" />
   <style type="text/css">
   		@import "static/main.css";	
   </style>
    <title>AEIST Mobile Backoffice</title>
  </head>  

<body id="index" class="home">
  <header id="banner" class="body">
   <h1>
   	<p>AEIST Mobile Backoffice</p>
   </h1>

     <nav>
     	<ul>
     	 <li class="active">
     	 	<a href="#">Eventos</a>
     	 </li>
     	  <li>
     	  	<a href='javascript:alert("TO IMPLEMENT");'>Equipas Desportivas</a>
     	  </li>  
     	  <li>
     	  	<a href='javascript:alert("TO IMPLEMENT");'>Noticias</a>
     	  </li> 
     	</ul>
     </nav>  
 </header><!-- /#banner -->	

<section id="content" class="body">
	{% block bodycontent %}
		Replace this
	{% endblock %}

</section>

<footer id="contentinfo" class="body"> 
	<p>&copy 2012 Joao Vasques</p> 
</footer>

</body> 
</html> 