{% extends "templates/_base.html" %}
{% block bodycontent %}

{% block Event %}

<form action="{{ edit_link }}" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Editar evento</legend>
        <label for="name">Nome:</label>
        <input type="text" name="name" required value="{{ name }}" class="span5">
        <label for="description">Descrição:</label>
        <textarea name="description" required rows="5" class="span5">{{ description }}</textarea>
        <label for="location">Location:</label>
        <input type="text" name="location" value="{{ location }}">
        <label for="date">Data:</label>
        <input type="date" name="date" value="{{ date }}">
        <label for="time">Hora:</label>
        <input type="time" name="time" value="{{ time }}">
        <label for="facebook_link">Link do Facebook:</label>
        <input type="url" name="facebook_link" required value="{{ facebook_link }}">
        <label for="image">Imagem:</label>
        <input type="file" name="image">
        <br>
        <br>
        <input type="submit" class="btn btn-primary" value="Editar">
        <a href="/events" class="btn">Cancelar</a>
    </fieldset>
</form>

{% endblock Event %}

{% endblock %}