{% extends "_base.html" %}
{% block bodycontent %}


<form action="/events/new" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Criar evento</legend>
        <label for="name">Nome:</label>
        <input type="text" name="name" required class="span5" autofocus>
        <label for="description">Descrição:</label>
        <textarea class="span5" name="description" required rows="5"></textarea>
        <label for="local">Local:</label>
        <input type="text" name="local">
        <label for="date">Data:</label>
        <input type="date" name="date">
        <label for="time">Hora:</label>
        <input type="time" name="time">
        <label for="tag">Tag:</label>        
        <select>
            <option value ="recreativa" selected >Recreativa e Cultural</option>
            <option value ="melbourne">Desporto</option>
            <option value ="cromwell" >GEFE</option>
            <option value ="queenstown">Politica Educativa</option>
        </select>
        <label for="facebook_link">Facebook link:</label>
        <input type="url" name="facebook_link" required class="span5">
        <label for="image">Imagem:</label>
        <input type="file" name="image">
        <br>
        <br>
        <input type="submit" class="btn btn-primary" value="Criar">
        <a href="/events" class="btn">Cancelar</a>
    </fieldset>
</form>

{% endblock %}